body{
	margin: 0;
	padding: 0;
	font-family: cursive;
	color: #526573;

}

header{
	padding: 6px 0;
	background-color: yellow;
}

.container{

	width: 800px;
	margin: 0 auto;
	overflow: hidden;

}
ul{
	list-style: none;
	overflow: hidden;
	padding: 0;
	margin: 0;
}

ul li{
	float: left;
	width: 50%;

}
.logo{
	width: 100px;
	height: 48px;
	background: url(../img/logo1.png) center;

}

.tele{
	float: right;
	color: black;
}

 .tele .icon{
 	display: inline-block;
	width: 30px;
	height: 20px;
	float: left;
	background: url(../img/telephone-icon.png) center;
	margin-top: 14px;
}

.tele .text{
	display: inline-block;
	margin-top: 11px;
	margin-left: 10px;
	font-size: 17px;

}
.blue{
	color: blue;
	text-decoration: none;
}

h1{
	font-size: 30px;
	margin: 80px 0 60px 0;
	text-align: center;
}
.contain{
	overflow: hidden;
	text-align: center;
}
h3{
	text-align: center;
	margin-top: 0;
}
.box{
	width: 49.9%;
}
.vertical-line{
	border-left: 20px solid #2ca6b0;
	height: 100px;
	margin-top: 120px;
	margin-left: 120px;
	float: right;
}
.box .vertical-line{
	float: left;
}
.icon2{
	width: 240px;
	height: 210px;
	margin-top: 120px;
}
.icon2 img{
	width: 100%;
	height: 100%;

}
p{
	padding: 0 50px;
	text-align: center;
	margin-top: 30px;
	font-weight: 600;
}
.link{
     
     text-decoration: none;
     padding: 10px 30px;
     border: 2px solid blue;
     display: inline-block;
     background: rgba(143,185,205,0.15);
}

 
 .after-content{
 	overflow: hidden;
 	margin: 50px 0 0 0 ;
 	padding: 80px 0;
 	color: pink;
 	font-size: 20px;
 	background: url(../img/after-content-bg.jpg) center ;
 }
h2{
	margin: 0 0 -10 0;
	text-align: center;
	font-size: 26px;
}
.form{
	padding: 20px 0 0 0;
	width: 760px;
	margin: 20px auto 0 auto;
}
input , select {

    padding: 12px;
    margin-right: 10px;
    border: 1px solid #333;
    border-radius: 3px;
    color: #747474;
}
button {
	color: white;
	padding: 13px;
	background-color: #2ca6b0;
	border: 1px solid #aaccd9;
	border-radius: 3px;
}

.terms{
	text-align: center;
	margin-top: 10px;
	font-size: 14px;
}
footer{
	padding: 20px;
	background-color: #263238;
	color: #b5b5b5;
	border-top: 1px solid #2ca6b0;
}
.left{
	float: left;
}
.right{
	float: right;
}










